/*=============== CONTACT ===============*/
.contact{
   &__container{
      position: relative;
      background-color: var(--second-color);
      padding-top: 3.5rem;
      border-radius: 3rem;
      overflow: hidden;
   }
   &__content{
      row-gap: 3rem;
   }
   &__container .section__title,
   &__title,
   &__info{
      color: var(--white-color);
   }
   &__data{
      text-align: center;
      row-gap: 2rem;
   }
   &__title{
      font-size: var(--h2-font-size);
      margin-bottom: .75rem;
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: 1rem;

      & a{
         width: 32px;
         height: 32px;
         background-color: var(--first-color);
         color: var(--second-color);
         font-size: 1.5rem;
         border-radius: .5rem;
         display: grid;
         place-items: center;
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
   &__info{
      font-style: normal;
   }
   &__image{
      justify-self: center;
   }
   &__img{
      width: 280px;
   }
   &__sticker-1,
   &__sticker-2{
      position: absolute;
      opacity: .5;
   }
   &__sticker-1{
      width: 40px;
      top: 6.5rem;
      left: 1.5rem;
   }
   &__sticker-2{
      width: 30px;
      right: 3rem;
      bottom: 12rem;
   }
}
